/* src/index.css */
html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  background: #17252A;
  color: #FEFFFF;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background: #3AAFA9;
  color: #FEFFFF;
  padding: 10px 10px;
}

header:hover {
  color: #2B7A78;
}

nav a {
  color: white;
  margin-left: 20px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

footer {
  background: #3AAFA9;
  color: #DEF2F1;
  text-align: center;
  padding: 10px 0;
}

section {
  margin-left: 20px;
  min-height: 30vh;
  padding: 30px 20px;
}

article {
  margin-left: 20px;
}

h2 {
  color: #2B7A78
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hey {
  color: #3AAFA9;
}

.big {
  color: #FEFFFF;
  font-size: 6rem;
  margin-bottom: 1rem;
}

.white {
  color: #2B7A78;
}

a {
  color: #005B72;
  text-decoration: none;
}

a:hover {
  color: #DEF2F1;
}

h1 {
  color: #2B7A78;
}

li {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerr {
  color: #17252A;
}